# On dictionaries

In [ ]:
# Don't change this cell; just run it.
import numpy as np  # The array library.

import pandas as pd
pd.set_option('mode.copy_on_write', True)

# The OKpy testing system.
from client.api.notebook import Notebook
ok = Notebook('on_dictionaries.ok')

We start off with a dictionary of the wage bills for all teams in the [English
Premier League 2021/22
season](https://github.com/odsti/datasets/tree/main/premier_league).  We'll get
the dictionary via Pandas, but we won't be using Pandas much in this page,
otherwise. Treat the following code as magic for now.

In [ ]:
# Run this code.  It makes a dictionary where the
# keys are team names, and the values are corresponding wage bills.
epl_df = pd.read_csv('premier_league_2021.csv')
wage_series = epl_df.set_index('team')['wages_year']
wages = wage_series.to_dict()
wages

Use the `wages` dictionary to set `bha_wages` to the wage bill for Brighton and Hove Albion:

In [ ]:
bha_wages ...
# Show the result
bha_wages

In [ ]:
_ = ok.grade('q_bha_wages')

*Use the dictionary* `wages` to calculate the average wage bill across all the teams.

You could do this with a `for` loop, but see if you can do the calculation in
a single line.

In [ ]:
...
mean_wages = ...
# Show the result
mean_wages

In [ ]:
_ = ok.grade('q_mean_wages')

What is the mean wage bill of all teams with names ending in 'United'?

Search for the team names with code (don't just read off the team names ending in "United" and type them in.

**Hint** : remember string methods.

In [ ]:
united_mean_wages = ...
...
# Show the result
united_mean_wages

In [ ]:
_ = ok.grade('q_united_mean_wages')

Now we get quite a bit harder.

You may know or remember that Pandas allows us to select values with labels, like this:

In [ ]:
# Run this cell.
wage_series.loc['Arsenal':'Crystal Palace']

This selects all the values starting with the one labeled 'Arsenal', up to *and including* the one labeled 'Crystal Palace'.

Now see if you can fill in a function `get_from_to` that takes arguments:

* a dictionary — call this `d`;
* a starting key — call this `start_key`, and
* an ending key — call this `last_key`.

The function returns a new dictionary that just contains the key, value pairs
starting with `start_key` (and its associated value) up to, and including
`last_key` (and its associated value).

**Hint** : you may want to use the `break` statement in a `for` loop.  They work like this:

In [ ]:
values = [1, 2, 99, 3, 4, 5]
for v in values:
    if v == 99:
        break   # Stop the for loop now, to the end of the loop.
    print('Value is', v)

In [ ]:
def get_from_to(d, start_key, last_key):
    """ Return dict from `d` from `start_key` to (including) `end_key`

    Parameters
    ----------
    d : dict
        Dictionary from which to select key, value pairs.
    start_key : str (or other object)
        First key for returned dict.
    last_key : str (or other object)
        Final key for returned dict.

    Returns
    -------
    out_d : dict
        Key with key, values from `start_dict` and `last_key`.
    """
    return out_dict

In [ ]:
# A quick test
get_from_to(wages, 'Arsenal', 'Crystal Palace')

## Done.

Congratulations, you're done with the assignment!  Be sure to:

- **run all the tests** (the next cell has a shortcut for that).
- **Save and Checkpoint** from the `File` menu.

In [ ]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]